
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amiri');
@import url('https://fonts.googleapis.com/css2?family=Bitter');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Benne&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Benne&family=Enriqueta&family=Roboto+Condensed&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       19px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    #000000;
  --body-color:      #000000;
  --aside-color:     #000000;
  --fig-cap-color:   #000000;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Enriqueta", serif;
  --mono-font:       "Enriqueta", serif;
  --body-font:       "Enriqueta", serif;
  --navbar-font:     "Enriqueta", serif;
}



/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    9.6px;
  --heading-color:   #54BD7D;
  --body-size:       12.8px;
  --body-color:      #54BD7D;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       #D6EDF8;
  --text-size:        15px;
  --hover-color:      #FFFFFF;
  --bkgd-color:       #549CBD;
}

.distill-site-footer {
  --text-color:       #FFFFFF;
  --text-size:        15px;
  --hover-color:      #FFFFFF;
  --bkgd-color:       #549CBD;
}
